---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="w-full h-screen bg-programmer bg-cover bg-center">
			<div class="w-full h-full flex flex-col items-center backdrop-blur-lg">
				<Header />
				<main class="md:filter-none blur-none">
					<h1>Hello, Astronaut!!</h1>
				</main>
				<Footer />
			</div>
		</div>
	</body>
</html>
