---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-[#0e0e0e]">
		<Header />
		<div class="w-full h-screen dark:bg-programmer bg-mtbr bg-cover bg-center">
			<div class="w-full h-full flex flex-col items-center backdrop-blur-lg">
				<main class="md:filter-none blur-none">
					<div
						class="absolute inset-0 z-20 bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to bg-cover bg-center bg-no-repeat"
					>
					</div>

					<div
						class="container relative z-30 pt-20 pb-12 sm:pt-56 sm:pb-48 lg:pt-64 lg:pb-48"
					>
						<div class="flex flex-col items-center justify-center lg:flex-row">
							<div class="rounded-full border-8 border-primary shadow-xl">
								<img
									src="/unsplash/chris-ried-ieic5Tq8YMk-unsplash-icon.jpg"
									class="h-48 rounded-full sm:h-56"
									alt="author"
								/>
							</div>
							<div class="pt-8 sm:pt-10 lg:pl-8 lg:pt-0">
								<h1
									class="text-center font-header text-4xl text-white sm:text-left sm:text-5xl md:text-6xl"
								>
									Petteri Vaarala
								</h1>
								<div class="pt-8">
									<ul class="flex items-center">
										<li class="group pr-4">
											<a
												href="https://github.com/PetteriVaarala"
												target="_blank"
												class="fa-brands fa-github fa-2xl"></a>
										</li>
										<li class="group pr-4">
											<a
												href="https://gitlab.com/PetteriVaarala"
												target="_blank"
												class="fa-brands fa-gitlab fa-2xl"></a>
										</li>
										<li class="group pr-4">
											<a
												href="https://www.linkedin.com/in/petterivaarala/"
												target="_blank"
												class="fa-brands fa-linkedin-in fa-2xl"></a>
										</li>

										<li class="group pr-4">
											<a
												href="https://www.youtube.com/c/PetteriVaarala"
												target="_blank"
												class="fa-brands fa-youtube fa-2xl"></a>
										</li>

										<li class="group pr-4">
											<a
												href="https://www.instagram.com/petteri.vaarala/"
												target="_blank"
												class="fa-brands fa-instagram fa-2xl"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<Footer />
	</body>
</html>
