<body
	class="dark:bg-[#0e0e0e] bg-fixed w-full h-screen dark:bg-programmer bg-mtbr bg-cover bg-center"
>
	<div class="flex flex-col h-screen overflow-hidden backdrop-blur-lg">
		<slot />
	</div>
</body>
