---
import Copyright from "./Copyright.astro";
import Version from "./Version.astro";
import { SITE_DESCRIPTION } from "../config";
---

<footer class="z-50 absolute right-2 -bottom-4 rotate-90 origin-top-right">
	<span class="px-2 pb-2 font-header text-gray-700 backdrop-grayscale-[.2]">
		<Copyright />
		<sub>{SITE_DESCRIPTION} All rights reserved.</sub>
		<Version />
	</span>
</footer>
