---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="w-full z-50 top-0 py-5">
	<div class="max-w-5xl container mx-auto">
		<div class="px-4 flex justify-between">
			<ul class="flex items-center">
				<li class="group">
					<HeaderLink href="/">petteri.vaara.la</HeaderLink>
				</li>
			</ul>
			<ul class="flex items-center">
				<li class="group pl-6">
					<HeaderLink href="https://notes.petteri.vaara.la/">Notes</HeaderLink>
				</li>

				<!--
				<li class="group pl-6">
					<HeaderLink href="/about">About</HeaderLink>
				</li>
 -->
			</ul>
		</div>
	</div>
</header>
