---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/notes">Notes</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink
			href="https://github.com/PetteriVaarala"
			target="_blank"
			class="fa-brands fa-github fa-lg"
		/>
		<HeaderLink
			href="https://www.linkedin.com/in/petterivaarala/"
			target="_blank"
			class="fa-brands fa-linkedin-in fa-lg"
		/>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
